<section class="features-area">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">7/24 Destek</h6>
                        <p>Rezervasyon ve uçuş işlemleri için destek ekibimizle iletişime geçin</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-plane"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Yurt İçi & Yurt Dışı Uçuşlar</h6>
                        <p>Dünya genelinde yüzlerce destinasyona uygun fiyatlı uçuşları keşfedin</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-money-back-guarantee"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">İade & Değişiklik</h6>
                        <p>Bilet iade ve değişiklik işlemlerinizi kolayca yönetin</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>