<!-- destination-area -->
<section class="destination-area destination-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="section-title">
                    <span class="sub-title">Özel Fırsatlar</span>
                    <h2 class="title">Hayalinizdeki Destinasyonu Keşfedin</h2>
                </div>

                <div class="destination-content">
                    <p>
                        Seyahatlerinizden kazanç sağlayın – ücretsiz
                        <span>Geairinfo.com</span> hesabı oluşturarak uçuşlarda
                        %10 veya daha fazla anında indirim fırsatını yakalayın.
                    </p>

                    <ul>
                        <li>
                            <div class="counter-item">
                                <div class="counter-content">
                                    <h2 class="count">
                                        <span class="odometer" data-count="5830"></span>+
                                    </h2>
                                    <p>Mutlu Yolcu</p>
                                </div>
                                <div class="counter-icon">
                                    <i class="flaticon-group"></i>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="counter-item">
                                <div class="counter-content">
                                    <h2 class="count">
                                        <span class="odometer" data-count="100"></span>%
                                    </h2>
                                    <p>Müşteri Memnuniyeti</p>
                                </div>
                                <div class="counter-icon">
                                    <i class="flaticon-globe"></i>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <div class="content-bottom">
                        <p>En yeni kampanyaları ve duyuruları keşfedin, seyahatinizi hemen planlayın.</p>
                        <a href="contact.html">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- destination-area-end -->