<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>

                <div class="menu-wrap">
                    <nav class="menu-nav">

                        <div class="logo">
                            <a href="index.html">
                                <img src="/geair/assets/img/logo/logo.png" alt="Logo">
                            </a>
                        </div>

                        <div class="navbar-wrap main-menu d-none d-lg-flex">
                            <ul class="navigation">

                                <li class="active">
                                    <a href="index.html">Ana Sayfa</a>
                                </li>

                                <li>
                                    <a href="#">Uçuş Ara</a>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Rezervasyon</a>
                                    <ul class="submenu">
                                        <li><a href="#">Rezervasyonum</a></li>
                                        <li><a href="#">Online Check-in</a></li>
                                        <li><a href="#">Uçuş Durumu</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Destinasyonlar</a>
                                    <ul class="submenu">
                                        <li><a href="#">Popüler Şehirler</a></li>
                                        <li><a href="#">Yurt İçi Uçuşlar</a></li>
                                        <li><a href="#">Yurt Dışı Uçuşlar</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Kampanyalar</a>
                                    <ul class="submenu">
                                        <li><a href="#">Güncel Kampanyalar</a></li>
                                        <li><a href="#">Erken Rezervasyon</a></li>
                                        <li><a href="#">Özel Fırsatlar</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="contact.html">Yardım ve Destek</a>
                                </li>

                            </ul>
                        </div>

                        <div class="header-action d-none d-md-block">
                            <ul>

                                <li class="country">
                                    <a href="#">TRY <img src="/geair/assets/img/icon/united-states.png" alt=""></a>
                                </li>

                                <li class="question">
                                    <a href="#">?</a>
                                </li>

                                <li class="header-btn">
                                    <a href="#" class="btn">Üye Ol</a>
                                </li>

                                <li class="header-btn sign-in">
                                    <a href="#" class="btn">Giriş Yap</a>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu">
                    <nav class="menu-box">
                        <div class="close-btn"><i class="fa-solid fa-xmark"></i></div>

                        <div class="nav-logo">
                            <a href="index.html">
                                <img src="/geair/assets/img/logo/logo_02.png" alt="">
                            </a>
                        </div>

                        <div class="menu-outer"></div>

                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="menu-backdrop"></div>

            </div>
        </div>
    </div>
</div>